/* Base */
/* ----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    font-weight: 300;
    background-color: #fdfdfd;

}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #7C7C7C; text-decoration: none; }
a:hover   { color: #000; }
a:visited { color: #7C7C7C; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    max-width: 830px;
    margin: 0 auto;
    zoom: 1;
    text-align: left;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    background-color: #FBFBFB;
}

/*.site-header .wrap{ position:relative; left: 50%; width:880px; margin-left:-440px;  }
 */
.site-title,
.site-title:hover,
.site-title:visited {
    display: block;
    color: #333;
    font-size: 26px;
    letter-spacing: -1px;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
}

.site-title:hover {
    text-decoration: underline;
}

.site-title h1{font-size: 36px}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
    margin-left: 20px;
    color: #727272;
    letter-spacing: -.5px;
}

/* Site footer */

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding-top:20px;
    padding-bottom:30px;
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear:both;
    font-size: 14px;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
    width: 270px; /*fallback*/
    width: -webkit-calc(35% - 10px);
    width: -moz-calc(35% - 10px);
    width: -o-calc(35% - 10px);
    width: calc(35% - 10px);
    margin-top: 27px;
}

.footer-col-1 a{
    color:#A8A8A8;
    transition:padding 0.6s;
    padding-left:60px;
}

.footer-col-1 a:hover {
    color: #dd1144;
    text-decoration: none;
    padding-left: 80px;
}

.footer-col-2{
    float:right;
    margin-top:27px;
    padding-right:20px;
}

.footer-col-2 a {
    color: #A8A8A8;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
    letter-spacing: -.3px;
    color: #B4B4B4;
}

.github-icon-svg {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.github {
    position: absolute;
    transition: transform 0.5s ease-out;
    top:33px;
}

.github:hover{
    transform:rotateZ(360deg);
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
    padding-top: 35px;
    background-color: #FBFBFB;
    padding-bottom: 0px;
    height: auto;
    min-height: 100%;
}
.page-content .wrap{padding-bottom: 50px;}


/* Home styles */
/* ----------------------------------------------------------*/
.home {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.home h1 { margin-bottom: 1px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 10px; }



.posts .post-link {
    /* font-size: 20px; */
    letter-spacing: 0.5px;
    line-height: 1;
    /* font-weight: bold; */
    color: #525252;
    /* text-align: left; */
}

/* .post-link :hover{ color:#000000; } */

.posts li a:hover{
    color: #dd1144;
}

.posts li a{
    color: #bb2222;
    font-size: 15px;
    text-shadow: none;
    line-height: 1.6;
}

.posts .post-date {
    display: inline-block;
    font-size: 15px;
    color: #818181;
    float: left;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post {
    width:800px;
    margin:auto;
    padding-bottom: 20px;
}

.post-header {
    line-height: 3;
}

.post-header h1 {
    font-size: 1.4em;
    /*letter-spacing: -1.75px;*/
    line-height: 1;
    font-weight: bold;
    color: #333;
}

.post-header .meta {
    font-size: 13px;
    color: #818181;
}

.post-header .meta .pre{
    font-weight: bold;
    color: #333;
}

.post-header .meta a{}

.post-content {
    font-size: 14px;
    line-height:1.6;
    margin: 0 0 60px;
}

.post-content > * {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

/*GFM */
/* ----------------------------------------------------------*/


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 0.9;
    cursor: text;
    position: relative;
}


.post-content h1 {
    font-size: 36px;
    border-bottom: 1px solid #DDD;
    margin:60px 0 40px;
}

.post-content h2 {
    font-size: 30px;
    border-bottom: 1px solid #EEE;
    margin:50px 0 30px;
}

.post-content h3 {
    font-size: 24px;
    margin:35px 0 20px
}

.post-content h4,h5,h6{margin:25px 0 15px}

.post-content h4 {
    font-size: 18px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    color: #777;
    font-size: 10px;
}

.post-content table th,
.post-content table td {
    border: 1px solid #DDD;
    padding: 6px 13px;
}

.post-content table th {
    font-weight: bold;
}

.post-content li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.listing li{
    list-style-type: none;
}
/* CODE
=============================================================================*/

pre, code, tt {
    color:#d14;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/*.post-content p,pre,pre.prettyprint,blockquote{margin:0 0 15px}*/



/* ----------------------------------------------------------*/
.post-content blockquote {
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    background-color:#EAEAF0;
    padding:10px 20px;
    margin:0 0 20px;
    border-left:10px solid #A7A7AF;
}
.post-content blockquote p{font-size:17.5px;font-weight:300;line-height:1.25}

.post-content ul,
.post-content ol { padding-left: 20px; }


.post ul,
.post ol { margin-left: 1.35em; }






/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 830px) {

    .wrap {
        padding: 0;
    }
    .post {
        width:auto;
    }
    .home {
        padding:0;
    }

    .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px; right: 8px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
    }

    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        width: 36px;
        text-align: center;
        line-height: 36px;
    }

    .site-nav .menu-icon svg { width: 18px; height: 16px; }

    .site-nav .trigger {
        clear: both;
        margin-bottom: 5px;
        display: none;
    }

    .site-nav:hover .trigger { display: block; }

    .site-nav .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 10px;
        margin: 0;
    }

    .post-header h1 {
        font-size: 36px;
    }
    .post-header {
        text-align:center;
    }
    .post-content h2 { font-size: 28px; }
    .post-content h3 { font-size: 22px; }
    .post-content h4 { font-size: 18px; }
    .post-content blockquote { padding-left: 10px; }
    .post-content ul,
    .post-content ol { padding-left: 10px; }

    .site-footer .column {
        float: none;
        clear: both;
        width: auto;
    margin: 0 0 15px; }

    .footer-col-1 {
        text-align:center;
    }

    .footer-col-1 a {
        display:none;
    }

    .footer-col-2 {
        display:none;
    }

    .github {
        position:static;
        transition:none;
    }

}
/* ----------------------------------------------------------*/

/* Category */
/* ----------------------------------------------------------*/
.category {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
    padding-right: 80px;
}

.category .title a{
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    color: #bb2222;
}

.category-number {
    font-size: 15px;
    margin-bottom: 15px;
    vertical-align: text-top;
    color: rgba(170, 165, 165, 0.96);
    padding-left: 4px;
}

.category p {
    font-size: 28px;
    margin-top: 10px;
}
/*.category ul{
margin:23px 23px;
}*/
.category li{
    list-style-type: none;
    margin: 0 0 0 35px;
    line-height: 1.5;
    font-size: 22px;
}
.category .category-date {
    display: inline-block;
    font-size: 15px;
    color: #818181;
}
.category a{
    color:#bb2222;
    font-size: 19px;
}
.category li a{
    color:#525252;
    padding-left: 30px;
    font-size: 17px;
}

/*.category .category-number {
font-size: 20px;
padding: 0 5px;
position: absolute;
right: -7px;
text-align: center;
text-shadow: none;
top: 8px;
z-index: 10;
}*/

.category hr{
    height:1px;border:none;border-top:1px solid #F0E8E8;
}


/* ----------------------------------------------------------*/


/*duoshuo-comments*/
/* ----------------------------------------------------------*/
.post #comments{
    padding-top: 50px;
}

/*lib*/
/* ----------------------------------------------------------*/
.banner {
    position: relative;
    overflow: hidden;
}
.banner li { list-style: none; }
.banner ul li {
    float: left;
}

.page-content .test {
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
}

.page-content   .test img {
    width:100%;
    height:100%;

}

/* ----------------------------------------------------------*/
/*lib*/
/* ----------------------------------------------------------*/
img {
    max-width: 100%
}


/* ----------------------------------------------------------*/
/*分页器*/
/* ----------------------------------------------------------*/
.pagination{
    padding-top:25px;
    padding-bottom:35px;
    overflow:hidden;
}
#pagination-flickr {
    border:0;
    padding:4px 0;
    margin:0;
    float:left;
    position:relative;
    left:50%;
}

#pagination-flickr li{
    border:0; margin:0; padding:0;
    font-size:20px;
    list-style:none;
    text-align:center;
    display:inline;
    float:left;
    position:relative;
    right:50%;
}

#pagination-flickr a{
    border:solid 1px #DDDDDD;
    margin-right:2px;
    border-radius:6px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
    color:#BDBABA;
    display:block;
    float:left;
    font-weight:bold;
    padding:3px 4px;
    width: 50px;
    text-align: center;
    border-radius:6px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
    font-weight:bold;
    border:solid 1px #FFFFFF;
    width: 50px;
    text-align: center;
    border-radius:6px;
}
#pagination-flickr .active{
    color:#BEBBBD;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 8px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
    color:#4B4B4B;
    display:block;
    float:left;
    padding:3px 8px;
    text-decoration:none;
    font-weight:bold;
}
#pagination-flickr a:hover{
    border:solid 1px #9C9A9A;
}

/* ----------------------------------------------------------*/
/*返回顶部*/
/* ----------------------------------------------------------*/
.site-footer .scroll-top {
    position: fixed;
    bottom: 100px;
    right: 80px;
    display: none;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    z-index: 199;
}

@media screen and (max-width: 992px) {
    .site-footer .scroll-top {
        bottom: 0;
        right: 10px;
        font-size: 50px;
    }
}

.fa-arrow-circle-up:before {
    content: "\f0aa";
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ----------------------------------------------------------*/
/*index*/
/* ----------------------------------------------------------*/

li.listing-item time {
    color: #999;
    font-size: 15px;
}

li.listing-item a{
    padding-left: 2em;
}

time {
    font-family: "Ubuntu", monospace;
}

li.listing-seperator {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #4C4B4B;
    padding-bottom: 20px;
}

li.listing-seperator:before {
    color: #ccc;
}

.home .posts li{
    margin-bottom:1px;
}
/*标签*/
.fa-calendar:before {
    content: "\f073";
}

.fa-folder-open:before {
    content: "\f07c";
}

.fa-tags:before {
    content: "\f02c";
}

.category li.listing-seperator{
    padding-bottom: 0px;
}




#content {
    text-align: center;
}

#code {
    float: left;
    color: #4D4D4C;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 14px;
    font-weight:bold;
    padding-left: 120px;
    padding-bottom: 30px;
    line-height: 1.3;
}

#code .number{
    color: #ae81ff;
}

#code .u{
    color: red;
}

#code .string{
    color: #ED9C28;
}
#code .value{
    color: #080;
}

#code .keyword{
    color: #F92672;
    font-weight:bold;
}

#code .placeholder{
    margin-left:30px;
}

#code .space{
    margin-left:7px;
}

#code .comments{
    color: #8E908C;
    font-weight: normal;
}

#copyright{
    margin-top: 10px;
    text-align: center;
    width:100%;
    color:#666;
}

#errorMsg{
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left:0px;
}

#copyright a{
    color:#666;
}

/*movies*/

.grid-view {
    font-size: 12px;
    line-height: 1.62;
}

.grid-view .item {
    overflow: auto;
    display: table;
    zoom: 1;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px dashed #ddd;
}

.grid-view .item .info {
    width: 510px;
}

.item .info {
    float: right;
    width: 520px;
    text-align: left;
}

.item .info ul {
    margin-left: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
