---
layout: category
title: Categories
permalink: /categories/
---
<div class="title">
    <p>
    {% for category in site.categories %}
    <a href="#{{ category | first }}">{{ category | first }}</a><span  class="category-number">{{ category | last | size }}</span>
    {% endfor %}
    </p>
</div>
<hr>
{% for category in site.categories %}
<p><a name="{{category | first }}" href="#{{ category | first }}">{{ category | first }}</a><span  class="category-number">{{ category | last | size }}</span></p>
<ul class="arc-list">
    {% for post in category.last %}
    <li><span class="category-date">{{ post.date | date:"%Y-%m-%d"}}</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
