---
layout: default
---
<div class="home">
  {% for page in site.categories.life limit: 1 %}
  <header class="post-header">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}&nbsp&nbsp&nbsp<i class="fa fa-folder-open"></i>{% if page.category %} <a href="/categories/#{{page.category}}">{{ page.category }}</a> {% endif %}&nbsp&nbsp&nbsp<i class="fa fa-tags"></i>&nbsp{% for tag in page.tags %}&nbsp<a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}</p>
  </header>
  <article class="post-content">
  {{ page.content }}
  </article>
  {% endfor %}
  <ul class="posts">
    <!-- <li class="listing-seperator">Yesterday you said tomorrow</li> -->
  {% capture month %}{{ site.time | date:"%m"}}{% endcapture %}
  {% for post in site.posts %}
    {% capture m %}{{ post.date | date:"%m"}}{% endcapture %}
    {% if month != m %}
    {% break %}
    {% endif %}
    <li class="listing-item">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
  {% endfor %}
    <li class="listing-seperator"><a href="/archive/">Long ago</a></li>
  </ul>
</div>
