---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p class="meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}&nbsp&nbsp&nbsp<i class="fa fa-folder-open"></i>{% if page.category %} <a href="/categories/#{{page.category}}">{{ page.category }}</a> {% endif %}&nbsp&nbsp&nbsp<i class="fa fa-tags"></i>&nbsp{% for tag in page.tags %}&nbsp<a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}</p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    {% include custom/duoshuo.html %}
</div>
